<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.ac.tees.s6040531.mydiabetesapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainSections.EntrySection.SearchCarbActivity"
            android:theme="@style/noActionbar"/>
        <activity
            android:name=".MainSections.EntrySection.AddEntryActivity"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".MainSections.SettingsSection.SettingsTermsActivity"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".MainSections.SettingsSection.SettingsAboutActivity"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".MainSections.ForumSection.ViewPostsActivity"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".MainSections.ForumSection.CreatePostActivity"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".MainSections.ForumSection.CreateThreadActivity"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".MainSections.AuthenticationSection.AccountSetupActivity"
            android:label="@string/title_activity_account_setup"
            android:theme="@style/noActionbar" />
        <activity android:name=".MainSections.AuthenticationSection.ResetPasswordActivity" />
        <activity
            android:name=".MainSections.HomeActivity"
            android:theme="@style/noActionbar"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".MainSections.AuthenticationSection.RegistrationActivity"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".MainSections.AuthenticationSection.LoginActivity"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/noActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>